AIRTABLE_BASE_URL=<Airtable public URL>
AIRTABLE_APP_BASE_ID=<Airtable base id (starts with "app")>
AIRTABLE_PADRIVERE_TABLE_ID=<Table id for pådrivere (starts with "tbl")>
AIRTABLE_PARTNERE_TABLE_ID=<Table id for partnere (starts with "tbl")>
AIRTABLE_PROSJEKTPORTEFOLJE_TABLE_ID=<Table id for the projektportefølje (starts with "tbl")>
AIRTABLE_PROSJEKT_RECORD_ID=<Record id for this specific project (starts with "rec")>
AIRTABLE_PAT=<Personal access token (starts with "pat")>